.typePizza-container {
    height: 100px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #1313138a;
    }
    .circleContainer {
        width: 90%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        .circule--container {
            border: 1px solid white;
            border-radius: 50%;
            height: 40px;
            width: 40px;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: #033b1445;
            p {
                font-size: 20px;
                font-weight: bold;
                text-transform: uppercase;
                &:nth-child(2) {
                    font-size: 10px;
                }
            }
        }
    }
}