<article *ngIf="typesPizzaBannerInfo != undefined" style="background-image: url({{typesPizzaBannerInfo[0].src}})" class="typePizza-container">
    <div class="circleContainer">
        <div class="circule--container" *ngFor="let element of typesPizzaBannerInfo[1].typesPizza">
            <p>{{element.amount}}</p>
            <p>{{element.content}}</p>
        </div>
    </div>
</article>