<div class="imagesGallery">
    <ng-container *ngFor="let item of imageRequestFooter">
        <ng-container *ngFor="let element of item.imagesGallery">
            <div style="background-image: url({{element.src}})" class="imagesGallery__block"></div>
        </ng-container>
    </ng-container>

</div>