.imagesGallery {
    width: 100%;
    height: 200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    &__block {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        &:nth-child(1),
        &:nth-child(5),
        &:nth-child(7) {
            display: none;
        }
    }
}