@import '../../../../styles/colors';
header {
    width: 100vw;
    background: #1a1a1a4f;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    .navBar {
        margin: auto;
        display: flex;
        justify-content: space-between;
        padding: 10px 0;
        &__logo {
            height: 60px;
            img {
                height: 100%;
            }
        }
        &__items {
            display: flex;
            align-items: center;
            list-style: none;
            .navBar_item {
                color: $forty-color;
                padding: 10px 20px;
            }
        }
    }
}