<header>
    <nav class="navBar">
        <div class="navBar__logo"><img src="{{navBarImage.src}}" alt="{{navBarImage.alt}}" [routerLink]="[navBarImage.path]"></div>
        <ul class="navBar__items">
            <li *ngFor='let item of navBar' class="navBar_item">
                <p [routerLink]="[item.path]">{{item.name}}</p>
            </li>
        </ul>
    </nav>
</header>