.heroAbout{
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #1a1a1a33;
    }
    h1{
        font-size: 2.5rem;
        background-color: #4a3434b0;
        padding: 10px;
    }
}

