<section class="wrapper product-container" *ngFor="let content of gridPizzasInfo">
    <h2 class="title">{{content.titleSection}}</h2>
    <p class="text-align-center ">{{content.content}}</p>
    <div class="itemsGrid-container">
        <ng-container *ngFor="let item of content.items">
            <div class="card">
                <div class="card__Img-container">
                    <!-- <img src="{{item.src}}" alt=""> -->
                    <img src="../../../../../../assets/images/pizza.png" alt="{{item.title}}">
                </div>
                <p class="card__title">{{item.title}}</p>
                <p class="card__description">{{item.description}}</p>
                <p class="card__price">{{item.price}}</p>
            </div>
        </ng-container>
    </div>
</section>