@import '../../../../../styles/colors';
.product-container {
    .title {
        font-size: 35px;
        text-align: center;
        padding-bottom: 10px;
    }
    .itemsGrid-container {
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 20px;
        .card {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 10px;
            border: 1px solid #393939;
            background: #1e1e1eb5;
            border-radius: 2px;
            &__Img-container {
                height: 150px;
                img {
                    height: 100%;
                }
            }
            &__title {
                text-align: center;
                text-transform: capitalize;
                color: $secundary-color;
            }
            &__description {
                text-align: center;
            }
            &__price {
                color: $terciary-color;
                font-weight: bold;
                font-size: 20px;
            }
        }
    }
}