@import '../../../../styles/colors';
.pinkLine-container {
    padding: 10px 20px;
    background: $terciary-color;
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-size: 12px;
    }
}