@import '../../../../styles/colors';
.footer {
    background: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    grid-gap: 20px;
    &__block {
        .image-container {
            height: 40px;
            img {
                height: 100%;
            }
        }
        p {
            text-align: center;
        }
        .socialMedia {
            display: flex;
            list-style: none;
            grid-gap: 20px;
            &__icon {
                height: 30px;
                img {
                    height: 100%;
                }
            }
        }
    }
}

.copyright-container {
    display: flex;
    justify-content: center;
    padding: 8px 0;
    background: $fifth-color;
    font-size: 13px;
}