<footer>
    <div class="footer">
        <div class="footer__block">
            <div class="image-container"><img src="{{logo?.src}}" alt="{{logo?.alt}}"></div>
        </div>
        <div class="footer__block">
            <ng-container *ngIf="footerInfo != undefined">
                <p>{{footerInfo[2].footerContent.email}}</p>
                <p>{{footerInfo[2].footerContent.phone}}</p>
            </ng-container>
        </div>
        <div class="footer__block">
            <ul class="socialMedia">
                <li *ngFor="let item of socialMedia" class="socialMedia__icon">
                    <img src="{{item.src}}" alt="">
                </li>
            </ul>
        </div>
    </div>
    <div class="copyright-container">
        <p *ngIf="footerInfo != undefined">{{footerInfo[2].footerContent.copyright}}</p>
    </div>
</footer>