<ng-container *ngFor="let info of myAbout">
<app-hero-about [heroABout]='info.hero'></app-hero-about>
</ng-container>
<section class="about-container">
    <h1>Lorem ipsum</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dolores quo eaque? Cupiditate magnam, laborum perferendis praesentium veritatis assumenda nesciunt quo placeat asperiores neque! Quia molestias temporibus est sapiente ratione.</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nostrum dolores quo eaque? Cupiditate magnam, laborum perferendis praesentium veritatis assumenda nesciunt quo placeat asperiores neque! Quia molestias temporibus est sapiente ratione.</p>
</section>
<app-images-gallery-footer [imageRequestFooter]="myFooter"></app-images-gallery-footer>
<app-decoration-line-see-all-menu [getTextLineSeeAllMenu]="myFooter"></app-decoration-line-see-all-menu>

