@import './styles/colors';
@import './styles/fonts';
@import './styles/mixins';
@import './styles/responsive';
@import './app/core/components/header/header.component.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
* {
    padding: 0;
    margin: 0;
}

h1 {
    font-size: 20px;
}

h2 {
    font-size: 18px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 14px;
}

h1,
h2,
h3 {
    font-weight: 900;
}

h4,
p {
    font-weight: 400;
}

p {
    line-height: 29px;
}

body {
    font-family: 'light-Font';
    color: $forty-color;
    background-image: url("./assets/images/binding_dark.png");
    position: relative;
}

.wrapper {
    width: 80%;
    margin: 20px auto;
    padding-bottom: 20px;
}

.title {
    color: $secundary-color;
    font-family: "titles";
    line-height: 27px;
}

.text-align-center {
    text-align: center;
}

.btn {
    background-color: $terciary-color;
    border: 1px solid $forty-color;
    color: $forty-color;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
}