<ng-container *ngFor="let info of myHome">
    <app-hero [hero]='info.heroContent'></app-hero>
    <app-home-about [aboutHome]='info.aboutHome'></app-home-about>
    <app-types-pizza-banner [typesPizzaBannerInfo]="info.pizzaTypes"></app-types-pizza-banner>
    <app-grid-pizzas [gridPizzasInfo]="info.ourPizzas"></app-grid-pizzas> 
</ng-container>
<app-images-gallery-footer [imageRequestFooter]="myFooter"></app-images-gallery-footer>
<app-decoration-line-see-all-menu [getTextLineSeeAllMenu]="myFooter"></app-decoration-line-see-all-menu>