@import '../../../../../styles/_colors';
.hero {
    height: 300px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: #1a1a1a33;
    }
}

.separator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $primary-color;
    padding: 20px;
    .separator_title {
        color: $secundary-color;
    }
}